<form #profileForm="ngForm" class="form-group">
  <h4>Testing UpSelectComponent</h4>

  <app-select
    #appSelect
    [(ngModel)]="size"
    [name]="selectName"
    [options]="optionList"
    [required]="requiredCheck"
    [filterIsStandalone]="false">
    <ng-template *ngIf="useCustomOptionTemplate" #optionTemplate let-size>
      <span class="test-custom-select-option">{{size.label}} {{size.id}}</span>
    </ng-template>
    <ng-template #errorTemplate let-errors>
      <div *ngIf="errors.required">Size is very required</div>
    </ng-template>
  </app-select>
</form>
