.todo-item-actions {
  display: flex;
  justify-content: center;
}

.todo-item-action {
  margin: .5rem;
}

.table {
  width: 100%;
  border: 1px solid black;

  td, th {
    border: 1px solid black;
    text-align: center;
  }

  td {
    padding: .5rem;
  }
}
