<form class="todo-form" *ngIf="todo" (ngSubmit)="onSubmit(todo)" #updateForm="ngForm">
  <label class="control">
    <span class="label">Todo Name</span>
    <input #titleC="ngModel" class="todo-form-title"
           type="text"
           name="title"
           required
           minlength="3"
           maxlength="50"
           [uniqueValue]="{
              debounce: 500,
              required: true,
              entityId: todo.id,
              fieldName: 'title'
           }"
           [(ngModel)]="todo.title"
           style="width: 400px"/>
  </label>
  <div *ngIf="titleC.errors" style="color: red">
    <span *ngIf="titleC.errors['required']">Title required</span>
    <span *ngIf="titleC.errors['minlength']">Title minlength {{titleC.errors['minlength']['requiredLength']}}</span>
    <span *ngIf="titleC.errors['uniqueValue']">Title is not unique</span>
  </div>
  <label class="control">
    <span class="label">Todo description</span>
    <input #descrC="ngModel"
           class="todo-form-description"
           type="text"
           name="description"
           required
           minlength="3"
           maxlength="50"
           [(ngModel)]="todo.description"
           style="width: 400px"/>
  </label>
  <div *ngIf="descrC.errors" style="color: red">
    <span *ngIf="descrC.errors['required']">Title required</span>
    <span *ngIf="descrC.errors['minlength']">Title minlength {{descrC.errors['minlength']['requiredLength']}}</span>
  </div>
  <button [disabled]="updateForm.invalid || updateForm.pending" class="todo-submit"
          type="submit">Submit
  </button>
</form>
