<form #form class="todo-form" *ngIf="todo" (ngSubmit)="onSubmit(todo)" #updateForm="ngForm">
  <h4 class="todo-form-title">{{formTitle}}</h4>
  <div class="control">
    <label for="title" class="label">Todo Name</label>
    <input #titleC="ngModel" class="input todo-form-title"
           type="text"
           name="title"
           id="title"
           required
           minlength="3"
           maxlength="50"
           [uniqueValue]="{
              debounce: 500,
              required: true,
              entityId: todo.id,
              fieldName: 'title'
           }"
           [(ngModel)]="todo.title"/>
    <div *ngIf="titleC.errors" style="color: red">
      <span *ngIf="titleC.errors['required']">Title required</span>
      <span *ngIf="titleC.errors['minlength']">Title minlength {{titleC.errors['minlength']['requiredLength']}}</span>
      <span *ngIf="titleC.errors['uniqueValue']">Title is not unique</span>
    </div>
  </div>
  <div class="control">
    <label for="description" class="label">Todo description</label>
    <input #descrC="ngModel"
           id="description"
           class="input todo-form-description"
           type="text"
           name="description"
           required
           minlength="3"
           maxlength="50"
           [(ngModel)]="todo.description"/>
    <div *ngIf="descrC.errors" style="color: red">
      <span *ngIf="descrC.errors['required']">Title required</span>
      <span *ngIf="descrC.errors['minlength']">Title minlength {{descrC.errors['minlength']['requiredLength']}}</span>
    </div>
  </div>
  <div class="control">
    <label for="completed" class="label">Todo completed</label>
    <input #complC="ngModel"
           id="completed"
           class="input todo-form-completed"
           type="checkbox"
           name="completed"
           [(ngModel)]="todo.completed"/>
    <div *ngIf="complC.errors" style="color: red">
      <span *ngIf="complC.errors['required']">Title required</span>
    </div>
  </div>
  <div class="btn-control">
    <button [disabled]="updateForm.invalid || updateForm.pending"
            class="todo-submit"
            type="submit">Submit
    </button>
    <button [disabled]="updateForm.pending"
            class="todo-cancel-submit"
            (click)="onCancel($event)">Cancel
    </button>
  </div>
</form>
