<form class="todo-form" *ngIf="todo" #updateForm="ngForm">
  <h4>{{formTitle}}</h4>
  <div class="control">
    <label for="title" class="label">Todo Name</label>
    <input #titleC="ngModel"
           id="title"
           class="app-input input todo-form-title"
           data-id="todo-form-title"
           type="text"
           name="title"
           required
           minlength="3"
           maxlength="50"
           [uniqueValue]="{
              debounce: 500,
              required: true,
              entityId: todo.id,
              fieldName: 'title'
           }"
           [(ngModel)]="todo.title"/>
    <div *ngIf="titleC.errors" class="app-form-error">
      <span *ngIf="titleC.errors['required']">Title required</span>
      <span *ngIf="titleC.errors['minlength']">Title minlength {{titleC.errors['minlength']['requiredLength']}}</span>
      <span *ngIf="titleC.errors['uniqueValue']">Title is not unique</span>
    </div>
  </div>
  <div class="control">
    <label for="description" class="label">Todo description</label>
    <input #descrC="ngModel"
           id="description"
           class="app-input input todo-form-description"
           type="text"
           name="description"
           required
           minlength="3"
           maxlength="50"
           [(ngModel)]="todo.description"/>
    <div *ngIf="descrC.errors" class="app-form-error">
      <span *ngIf="descrC.errors['required']">Description required</span>
      <span
        *ngIf="descrC.errors['minlength']">Description minlength {{descrC.errors['minlength']['requiredLength']}}</span>
    </div>
  </div>
  <div class="control completed">
    <input #complC="ngModel"
           id="completed"
           class="todo-form-completed"
           type="checkbox"
           name="completed"
           [(ngModel)]="todo.completed"/>
    <label for="completed" class="label">Todo completed</label>
    <div *ngIf="complC.errors" style="color: red">
      <span *ngIf="complC.errors['required']">Title required</span>
    </div>
  </div>
  <div class="btn-controls">
    <app-button [disabled]="updateForm.pending"
                class="btn-control todo-cancel-submit"
                [type]="'button'"
                (click)="onCancel($event)">Cancel
    </app-button>
    <app-button [disabled]="updateForm.pending || updateForm.invalid"
                class="btn-control todo-submit"
                [viewType]="'success'"
                [type]="'button'"
                [dataId]="'submit-todo'"
                (click)="onSubmit(todo)">
      Submit
    </app-button>
  </div>
</form>
