<section class="todo-page">
  <h2>Todo page</h2>
  <div class="todo-table">
    <h4>Completed ({{completedLength$ | async}})</h4>
    <TodoList
      (onUpdate)="showUpdateForm($event)"
      (onDelete)="doDelete($event)"
      [todoList$]="completedTodoList$"
    >
    </TodoList>
    <h4>Uncompleted ({{uncompletedLength$ | async}})</h4>
    <TodoList
      (onUpdate)="showUpdateForm($event)"
      (onDelete)="doDelete($event)"
      [todoList$]="uncompletedTodoList$">
    </TodoList>
  </div>
</section>
