<div class="pagination">
  <label class="pagination-item">
    <span>Сторінка </span>
    <input data-id="pagination-page-input" (change)="currentPageChange()"
           class="app-input pagination-page"
           type="number"
           name="page"
           [min]="1"
           [max]="pagesTotal"
           [(ngModel)]="currentPage">
  </label>
  <label class="pagination-item">
    <span>Записів на сторінку </span>
    <select data-id="pagination-rows-select"
            class="app-input pagination-rows"
            [(ngModel)]="rowsDisplay" (change)="onRowsChange()" name="rows">
      <option *ngFor="let option of computedRowsList"
              [disabled]="option.disabled"
              [selected]="option.selected"
      >
        {{option.value}}
      </option>
    </select>
  </label>
  <label class="pagination-item" data-id="pagination-total"> Усього сторінок {{pagesTotal || '--'}}</label>
</div>
